html {
  font-family: 'Roboto Slab', serif;
  color: #c8f7c5;
  background-color: #0e3041;
}
/* html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg);
}
html[theme='dark-mode'] img{
    filter: invert(1) hue-rotate(180deg);
}
html {
    transition: color 300ms, background-color 300ms;
} */
