/* [href="#main"] {
  position: absolute;
  top: 0;
  right: 100%;
} */

[href="#main"] {
  right: auto;
}

html {
  font-size: 100%;
}

div.table-of-contents {
  border: 3px solid #c8f7c5;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  width: fit-content;
}

div.table-of-contents li {
  margin: 1em 0 1em 0;
}

/* Ideal length width for readability is around 60rem */
main {
  max-width: 60rem;
  text-align: left;
}

/* Owl selector, basic spacing to use generally, instead of elements directly, to avoid doubling up padding of containers
see: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
main * + * {
  margin-top: 1.5rem;
}

li, dt, dd, br, th, td {
  margin-top: 0;
}

* + h2, * + h3 {
  margin-top: 1.5em;
}

main * + *:not(p) {
  margin: 3rem 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #c8f7c5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  }

@media screen and (min-width: 200px) and (max-width: 640px) {
  /* Make sure to display touch target in an easy way for mobile users - So they can easily touch the button they want withh enough space between buttons */
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    /* Resize images with mobile layout */
    img {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

a.navigation-link {
  justify-content: center;
  font-size: 2em;
  color: #0e3041;
  padding: 0.2em;
  text-decoration: none;
}

/* When the  tab is used (focus), we need to make sure there is a clear indication of focus, visually*/
a.navigation-link:focus {
  border: #c8f7c5;
  color: #c8f7c5;
  text-shadow: none;
  display: inline-block;
  padding: 0.5rem;
  background:  #0e3041;
  color: 2px solid #c8f7c5;
  transform: scale(1.2);
}

a.nagivation-link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.25em;
  height: 0.25em;
  background-size: auto 100%;
}

/* Line height needs to be a unitless proportion, so when zoom in and out, ensure proportionate line height */
p {
  line-height: 1.5;
}

/* Media queries */

/* We ensure inclusive measure within responsive layout - Here with a larger screen */
@media (min-width: 120rem) {
  html {
    font-size: 150%;
  }
}

/* link underlines - Underline should not intersect the form, it needs to leave the space for readability */
.media-link {
  color: #c8f7c5;
  text-decoration: none;
  text-shadow: 0.05em 0 0#0e3041, -0.05em 0 0 #0e3041,
  0 0.05em 0 #0e3041, 0 -0.05em 0 #0e3041,
  0.1em 0 0 #0e3041, -0.1em 0 0 #0e3041,
  0 0.1em 0 #0e3041, 0 -0.1em 0 #0e3041;
  background-position: bottom 0.05em center;
  background-repeat: repeat-x;
  background-size: 100% 0.05em;
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
}

.skip-to-main a {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.2rem;
}

.skip-to-main a:focus {
  position: static;
  width: auto;
  height: auto;
  color: #c8f7c5;
  background-color:#0e3041;
  color: 2px solid #c8f7c5;
  transform: scale(1.2);
  text-shadow: none;
  margin: 0.8em;
  padding: 0.5em;
  border: 2px solid #c8f7c5;
}

a {
  outline: none;
  color:  #c8f7c5;
}

a:focus {
  outline: none;
  background-color:  #c8f7c5;
  color: #0e3041;
  text-shadow: 0.05em 0 0  #c8f7c5, -0.05em 0 0  #c8f7c5,
  0 0.05em 0  #c8f7c5, 0 -0.05em 0  #c8f7c5,
  0.1em 0 0  #c8f7c5, -0.1em 0 0  #c8f7c5,
  0 0.1em 0  #c8f7c5, 0 -0.1em 0  #c8f7c5;
}

/* Subtitle will be visually hidden. give an implicit role of the span, and read for screen readers [subtitle] */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#main-contact {
  margin: 0 auto;
}

form {
  border: #c8f7c5 2px solid;

}
h1.contact-title {
  margin: 0 auto;
  margin-top: 2rem;
  width: 50%;
}
#contact-form {
  grid-template-rows: 1fr 1fr;
  width: 50%;
  margin: 0 auto;
  padding: 0 1em 1em 1em;
}

textarea#message {
  height: 5rem;
  width: 25rem;
}

.message-label-input {
  display: grid;
}

button {
  background-color: #c8f7c5;
  color: #0e3041;
  border: #0e3041 1px solid;
  font-size: 1.5rem;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

#send-contact-form-btn {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
}
/* Styling placeholders to help with visualisation */
::placeholder {
  color: #000;
  font-style: italic;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  /* Make sure to display touch target in an easy way for mobile users - So they can easily touch the button they want withh enough space between buttons */
  form {
    height: 97vh;
  }
  h1.contact-title {
    font-size: 150%;
    height: 2rem;
  }
  #contact-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 20%;
    padding-top: 1em;
    }
    /* Resize images with mobile layout */
  textarea#message {
    height: 5rem;
    width: 90%;
    }
    div.email-label-input {
      width: 100%;
      margin: auto;
    }
    main * + *:not(p) {
      margin: 1rem 0;
    }
  }
